#role-card:hover{
    transform :scale(1.1);
    transition: 0.3s;
}
.urgent-link:hover{
    transform: scale(1.5); 
    transition: 0.3s;
}

.nav-link{
    color: black;
    font-weight: 500;
    font-size: large;
}
.nav-link:hover{
    color: darkcyan;
}