html {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(228, 228, 228); */
}


/* bootstrap inputfield */
.form-control{
  border: 2px solid #ced4da;
}
.form-control:focus{
  border : 2px solid #673ab7;
  box-shadow: none;
}

/* material ui avatar image */
.css-1pqm26d-MuiAvatar-img {
  object-position: top;
}


